/* The Modal (background) */
body {
  font-family: Quicksand;
}

.edit {
  margin-top: 20px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 69%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.modal-body {

  padding-bottom: 5px;
  margin-top: 10px;

}
.first-column {
  display: table;
  width:100%;


}
.second-column{
  display: table-cell;
  border-left: 3px solid #E8E8E8;
  padding-left: 5px;

}
.first-column>.second-column input[name="cTitle"]{
  {
   border: 2px solid #aaa;
   border-radius: 4px;
   padding: 3px;
   box-sizing: border-box;
   outline: none;
   transition: .5s;
   width: 230px;
 }
}

.table-row>input[name="chap"] {
  margin-top:310px;
  margin-left:55%;
  outline: none;

  width: 25px;
}
.table-row{
  display: table-row;

}

/*for the vertical line*/
.vl {
  margin-left: 430px;
  height: 350px;
  border-left: 2px solid gray;
  top:0;
}
.modal-body input[name="title"],
.modal-body input[name="author"]
 {
  border: 2px solid #aaa;
  border-radius: 4px;
  padding: 3px;
  box-sizing: border-box;
  outline: none;
  transition: .5s;
  width: 270px;
}
.modal-body input:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 5px 0 dodgerBlue;
}
.modal-body textarea {
  border: 0px;
  resize: none;
  padding: 0;
  margin-left: 32px;
  padding: 3px;
  outline: none;
  transition: 1s;
  border-radius: 4px;
}
.modal-body textarea:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 5px 0 dodgerBlue;
}

.modal-footer button {
  width: 75px;
  outline: none;
  border: 0;
  background: #278BCF;
  border-radius: 4px;
  border-bottom: 4px solid #3492db;
  color: #fff;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #278BCF;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 20px 7px 16px;
    background-color: #fff;
    color: white;
