body {
  background: url('images/pic3.jpg') no-repeat;
  background-size: cover;
  font-family: 'Quicksand';
  margin: 0;
  padding: 0;
}
nav {
  width: 100%;
  height: 57px;
  position: absolute;
  background: #fafafa;
}
.name {
  float: left;
  color: #278BCF;
  font-size: 20px;
  margin-top: 15px;
  margin-left:30px;
  font-weight: bold;

}
.menu {
  width: 100%;
  background: #fff
  height: 57px;

}
.menu> .menu-content{
  width: 200px;
  height: 57px;
  float: right;
  font-size: 19px;
  font-weight: bold;
  position: relative;
  color: #278BCF;
  line-height: 57px;

}
.menu>.menu-content a {
  color: #007bff;
}
.menu>.menu-content a:hover {
  color: #0057b3;
}
.arrow-up {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 19px solid transparent;
  border-right: 19px solid transparent;
  border-bottom: 19px solid #278BCF;
  right: 0;
  margin-left: 100px;
  right: 160px;
  top: 40px;
  display: none;
}
.login-form {
  position: absolute;
  width: 314px;
  height: 244px;
  right: 0;
  top: 51px;
  margin-right: 65px;
  border-radius: 13px;
  border-style: solid;
  border-color: #278BCF;
  background: #fff;
  font-family: 'Quicksand';
  display: none;

}
.login-form> form {
  margin: 22px 20px 20px 20px;
}
.login-form> form a{
  font-size: 14px;
  font-family: 'Quicksand';
  color: #007bff;
  text-decoration: none;

}
.login-form> .uname{
  font-size: 14px;
}
button {
  font-family: 'Quicksand';
  font-size: 16px;
  width: 265px;
  height: 30px;
  margin-top: 3px;
  margin-bottom: 17px;
  outline: none;
  border: 0;
  background: #278BCF;
  border-radius: 4px;
  border-bottom: 4px solid #3492db;
  color: #fff;
}
button:hover {
  background: #3EA2E5;
}
button:active {
  background: #2f93d6;
}

input[type="text"],
input[type="password"] {
  width: 253px;
  height: 18px;
  padding: 4px;
  border: 0;
  outline: none;
  transition: 0.5s;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 2px solid #aaa;
  border-radius: 4px;

  font-family: 'Quicksand';
  font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 5px 0 dodgerBlue;
}
