.flexmine{
  display: flex;
  height: 500px;
  width: 1000px;
  border-radius: 5px;
  padding-top: 30px;
}

.fixFlex{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  border-style: solid;
  border-width: 2px;
}

.fixFlex button{
  background-color: transparent;
  border-style: none;
}

.takeWhole{
  width: 100%;
}

.closeContainer{
  display: none;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.mainContainer{
  display: flex;
  flex-grow: 10;
  justify-content: center;
  align-items: center;
}


.rebutton{
  display: flex;
  flex: 1;
  background: #FFFFFF;
  border-style: solid;
  border-color: #278bcf;
}


.mainButton{
  height: 100%;
  width: 100%;
}

.closeButton{
  background-color: blue;
}

.natureOfFlow{
  flex-direction: column;
}

.rebutton-right{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-width: 2px 2px 2px 3px;
  border-left-style: dashed;
}

.rebutton-left{
  border-width: 2px 3px 2px 2px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right-style: dashed;
}

.desc{
  display: none;
}
