.flexmine{
  display: flex;
  height: 500px;
  width: 1000px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  border-radius: 5px;
}

.card{
  height: inherit;
  width: inherit;
  flex-direction: row;
  border-radius: 5px;
}

.choice-container{
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.rebutton{
  height: 100%;
  width: 100%;
  background: #FFFFFF;
  border-style:solid;
  border-color: #278bcf;
}


.rebutton-right{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-width: 2px 2px 2px 3px;
  border-left-style: dashed;
  /* border-left-color: grey; */
}

.rebutton-left{
  border-width: 2px 3px 2px 2px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right-style: dashed;
  /* border-right-color: grey; */
}

@keyframes refill {
  from{width: 100%;}
  to{width: 0%;}
}
