body {
  font-family: Quicksand;
}

form {
  background-color: #f1f1f1;
  position: relative;
}

form button{
  color: #fff;
  background: #278BCF;
  border: none;
  width: 650px;
  height: 35px;
  border-radius: 4px;
  border-bottom: 4px solid #3492db;
  transition: all .2s ease;
  outline: none;
  margin-top: 0px;
}

form button:hover{
  background: #3EA2E5;
}

form .first-col{
  justify-content: center;
  align-items: center;
}

form #first{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

form .input-file p{
  text-align: center;
  color: #000000;
}

form .input-file img {
  display: block;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
}

form .input-file {
  background-color: #fff;
  height: 300px;
  width: 650px;
  justify-content: center;
  align-content: center;
  -webkit-box-shadow: -1px 5px 17px -1px rgba(209,209,209,1);
  -moz-box-shadow: -1px 5px 17px -1px rgba(209,209,209,1);
  box-shadow: -1px 5px 17px -1px rgba(209,209,209,1);
  margin-bottom: 0;
  grid-column-start: 1;
}

form .upload-button{
  grid-column-start: 1;
}

form .input-file input {
   position: absolute;
   margin: 0;
   padding: 0;
   width: inherit;
   height: inherit;
   outline: none;
   opacity: 0;
}


form #first>.author {
  width: 320px;
  height: 130px;
  background-color: #fff;
  -webkit-box-shadow: -1px 5px 17px -1px rgba(209,209,209,1);
  -moz-box-shadow: -1px 5px 17px -1px rgba(209,209,209,1);
  box-shadow: -1px 5px 17px -1px rgba(209,209,209,1);
  padding-top: 8px;
  padding-left: 4px;
  font-size: 13px;
  position: relative;
  grid-column-start: 2;

}
form #first>.author input {
  border: 2px solid #aaa;
  border-radius: 4px;
  padding: 3px;
  box-sizing: border-box;
  outline: none;
  transition: .5s;
  width: 250px;
}
form #first>.author input:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 5px 0 dodgerBlue;
}
form #first>.desc {
  width: 320px;
  height: 202px;
  margin-top: 18px;
  background-color: #fff;
  -webkit-box-shadow: -1px 5px 17px -1px rgba(209,209,209,1);
  -moz-box-shadow: -1px 5px 17px -1px rgba(209,209,209,1);
  box-shadow: -1px 5px 17px -1px rgba(209,209,209,1);
  padding-top: 4px;
  padding-left: 5px;
  font-size: 13.5px;
  grid-column-start: 2;
}

textarea {
  border: 0px;
  resize: none;
  padding: 0;
  padding: 3px;
  outline: none;
  transition: 1s;
  border-radius: 4px;
}

textarea:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 5px 0 dodgerBlue;
}
