.flexmine{
  display: flex;
  height: 500px;
  width: 1000px;
  border-radius: 5px;
  padding-top: 30px;
}

.fixFlex{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  border-style: solid;
  border-width: 2px;
}

.fixFlex button {
  background-color: transparent;
  border-style: none;
}

.invi{
  background-color: transparent;
  border-style: none;
}

.takeWhole{
  width: 100%;
}

.closeContainer{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}


.rebutton{
  display: flex;
  flex: 1;
  background: #FFFFFF;
  border-style: solid;
  border-color: #278bcf;
}

.mainContainer{
  display: flex;
  flex-grow: 10;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainButton{
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.closeButton{
  visibility: hidden;
}

.closeButton:hover{
  color: Tomato;
}

.alignOL{
  text-align: left;
  align-items: center;
  justify-content: center;
}

.natureOfFlow{
  flex-direction: column;
}

.rebutton-right{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-width: 2px 2px 2px 3px;
  border-left-style: dashed;
}

.rebutton-left{
  border-width: 2px 3px 2px 2px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right-style: dashed;
}

.desc{
  display: none;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.center-desc{
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputButton{
  position: absolute;
  flex: 1;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 83%; 
  outline: none;
  opacity: 0;
}


.special-title{
  font-size: large;
}
